# Global parameters
DOCKER_COMPOSE_HOST_FQDN="localhost"

# PostgreSQL
POSTGRES_ADMIN_USER="admin"
POSTGRES_ADMIN_PASSWORD="Azerty123_"
POSTGRES_ADMIN_DB="postgres"
POSTGRES_MAX_CONNECTIONS="250"

# Fred app database
POSTGRES_FRED_USER="fred"
POSTGRES_FRED_PASSWORD="Azerty123_"
POSTGRES_FRED_DB="fred"

# Tabular data database
POSTGRES_TABULAR_DATA_USER="tabular"
POSTGRES_TABULAR_DATA_PASSWORD="Azerty123_"
POSTGRES_TABULAR_DATA_DB="data"

# Langfuse database
POSTGRES_LANGFUSE_USER="langfuse"
POSTGRES_LANGFUSE_PASSWORD="Azerty123_"
POSTGRES_LANGFUSE_DB="langfuse"

# Keycloak
POSTGRES_KEYCLOAK_USER="keycloak_db_user"
POSTGRES_KEYCLOAK_PASSWORD="Azerty123_"
POSTGRES_KEYCLOAK_DB="keycloak"

KC_BOOTSTRAP_ADMIN_USERNAME="admin"
KC_BOOTSTRAP_ADMIN_PASSWORD="Azerty123_"
KEYCLOAK_AGENTIC_CLIENT_SECRET="Azerty123_"
KEYCLOAK_KNOWLEDGE_FLOW_CLIENT_SECRET="Azerty123_"
KEYCLOAK_CONTROL_PLANE_CLIENT_SECRET="Azerty123_"
KEYCLOAK_KF_ENABLE_MANAGE_USERS="true"
KEYCLOAK_FORCE_RELOGIN="auto"

# OpenFGA

POSTGRES_OPENFGA_USER="openfga"
POSTGRES_OPENFGA_PASSWORD="Azerty123_"
POSTGRES_OPENFGA_DBNAME="openfga"

OPENFGA_API_TOKEN="Azerty123_"
OPENFGA_STORE_NAME="fred"
OPENFGA_SEED_INCLUDE_USERNAME_USERS="true"


# Minio
MINIO_ROOT_USER="admin"
MINIO_ROOT_PASSWORD="Azerty123_"

# OpenSearch
OPENSEARCH_ADMIN="admin"
OPENSEARCH_ADMIN_PASSWORD="Azerty123_"

# ClickHouse
CLICKHOUSE_HTTP_PORT="8123"
CLICKHOUSE_NATIVE_PORT="9002"
CLICKHOUSE_USER="fred"
CLICKHOUSE_PASSWORD="Azerty123_"
CLICKHOUSE_DB="fred"

# Temporal
POSTGRES_TEMPORAL_USER="temporal"
POSTGRES_TEMPORAL_PASSWORD="Azerty123_"
POSTGRES_TEMPORAL_DBNAME="temporal"
POSTGRES_TEMPORAL_VISIBILITY_DBNAME="temporal_visibility"
TEMPORAL_UI_PORT="8233"

# Neo4j
NEO4J_AUTH="neo4j/Azerty123_"

# Langfuse
LANGFUSE_UI_PORT="3001"
NEXT_PUBLIC_LANGFUSE_CLOUD_REGION="DEV"
CLICKHOUSE_CLUSTER_ENABLED="false"
REDIS_AUTH="Azerty123_"
NEXTAUTH_SECRET="change-me-langfuse-nextauth-secret-min-32chars"
SALT="change-me-langfuse-salt-min-32chars"
ENCRYPTION_KEY="0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef"
TELEMETRY_ENABLED="false"
LANGFUSE_ENABLE_EXPERIMENTAL_FEATURES="false"
LANGFUSE_S3_EVENT_UPLOAD_BUCKET="langfuse"
LANGFUSE_S3_MEDIA_UPLOAD_BUCKET="langfuse"
LANGFUSE_S3_BATCH_EXPORT_BUCKET="langfuse"
